	body {
		margin: 0;
		color: white;
		font-family: verdana;
	}
	a:link {
		color: blue;
		text-decoration: none;
	}
	a:visited {
		color: blue;
		text-decoration: none;
	}
	a:hover {
		color: blue;
		text-decoration: none;
	}
	a:active {
		color: blue;
		text-decoration: none;
	}
	hr {
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	}
	input[type="text"] {
		border: 4px solid gray;
		-webkit-box-shadow:
		inset 0 0 8px  rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		-moz-box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		padding: 4px;
		background: white;
		margin: 0 0 0 0;
		text-align: left;
		font-size:32px;
	}
	input[type="password"] {
        border: 4px solid gray;
		-webkit-box-shadow:
		inset 0 0 8px  rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		-moz-box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		padding: 4px;
		background: white;
		margin: 0 0 0 0;
		text-align: left;
		font-size:32px;
	}
	input[type="tel"] {
		border: 4px solid gray;
		-webkit-box-shadow:
		inset 0 0 8px  rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		-moz-box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		box-shadow:
		inset 0 0 8px rgba(0,0,0,0.1),
		0 0 16px rgba(0,0,0,0.1);
		padding: 4px;
		background: white;
		margin: 0 0 10px 0;
		text-align: center;
		font-size:20px;
	}
	#login {
		position:relative;
		left: 50%;
		width:34em;
		height:32em;
		margin-left: -17em; /*set to a negative number 1/2 of your width*/
		border: 1px solid #A6A6A6;
		background-color: #E9E8E9;
		opacity: 0.97;
		filter: alpha(opacity=97); 
	}
	#authorizetitle {
		position:relative;
		width:32em;
		height:3em;
		border: 1px solid #FF3385;
		background-color: #FF3385;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#authorize {
		position:relative;
		width:32em;
		height:25em;
		border: 1px solid #FF3385;
		background-color: #E9E8E9;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#queuetitlediv {
		position:relative;
		width:40em;
		height:3em;
		border: 1px solid #FF3385;
		background-color: #FF3385;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#queuediv {
		position:relative;
		width:40em;
		height:25em;
		border: 1px solid #FF3385;
		background-color: #E9E8E9;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#infotitle {
		position:relative;
		width:24em;
		height:3em;
		border: 1px solid #FF3385;
		background-color: #FF3385;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#info {
		position:relative;
		width:24em;
		height:25em;
		border: 1px solid #FF3385;
		background-color: #E9E8E9;
		opacity: 0.97;
		filter: alpha(opacity=97);
	}
	#subdiv {
		width: 80%; 
		margin: 0 auto;
		padding: 2px;
		position: relative;
	}
	#subdivemail {
		width: 80%;
		margin: 0 auto;
		padding: 2px;
		position: relative;
	}
	#subdivpassword {
		width: 80%;
		margin: 0 auto;
		padding: 2px;
		position: relative;
	}
	#subinfodiv {
		width: 100%;
		margin: 8 auto;
		padding: 8px;
		position: relative;
	}
	#bardiv {
		top: 0px;
		margin:0px;  
		padding: 0px 2px 2px 3px;    
		border-width: 2px;
		border-bottom-width: 2px;
		border-bottom-color: #FF3385;
		border-bottom-style: solid;
		width: 100%;
		background-color: #E6E3E3;
		position: relative;
	}
	#imgdiv {
		height: 100px;
		top: 0px;
		margin: 0 auto;
		padding: 2px;
		position: relative;
		display: inline-block;
		border: 1px;
		border-width: 2px;
		border-style: solid;
		border-color: black;
	}
	#html_login { 
		background: url(http://1414intl.com/1414/images/login.jpg) no-repeat top left fixed; 
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		min-height:100%;
	}
	#div_main {
		background: url(http://1414intl.com/1414/images/phone_booth.jpg) no-repeat top center fixed;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		min-height: 100%;
	}
